In [ ]:
import numpy as np
import pandas as pd

df1 = pd.read_csv('各鄉鎮市區人口密度.csv')
df1

In [ ]:
df1.index
df1.columns

In [ ]:
df1.columns = df1.iloc[0].values.tolist()
df2 = df1.drop(index=[0])
df2

In [ ]:
df2.info()

In [ ]:
df3 = df2.dropna()
df3

In [6]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 370 entries, 1 to 370
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   統計年     370 non-null    object
 1   區域別     370 non-null    object
 2   年底人口數   370 non-null    object
 3   土地面積    370 non-null    object
 4   人口密度    370 non-null    object
dtypes: object(5)
memory usage: 17.3+ KB

In [7]:
df3.loc[:,'土地面積'] = df3['土地面積'].astype(float)
df3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 370 entries, 1 to 370
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   統計年     370 non-null    object
 1   區域別     370 non-null    object
 2   年底人口數   370 non-null    object
 3   土地面積    370 non-null    object
 4   人口密度    370 non-null    object
dtypes: object(5)
memory usage: 17.3+ KB

In [8]:
#不是標準寫法
items = []
for item in df3['年底人口數']:
    try:
        items.append(int(item))
    except ValueError:
        items.append(0)
df3.loc[:,'年底人口數'] = items #items是list,不是Series
df3

     統計年     區域別   年底人口數     土地面積   人口密度
1    106  新北市板橋區  551480  23.1373  23835
2    106  新北市三重區  387484   16.317  23747
3    106  新北市中和區  413590   20.144  20532
4    106  新北市永和區  222585   5.7138  38956
5    106  新北市新莊區  416524  19.7383  21102
..   ...     ...     ...      ...    ...
366  106  連江縣北竿鄉    2360      9.9    238
367  106  連江縣莒光鄉    1624      4.7    346
368  106  連江縣東引鄉    1352      3.8    356
369  106    東沙群島       0     2.38     …
370  106    南沙群島       0   0.5045     …

[370 rows x 5 columns]

In [9]:
df3['土地面積'].astype(float)

1      23.1373
2      16.3170
3      20.1440
4       5.7138
5      19.7383
        ...
366     9.9000
367     4.7000
368     3.8000
369     2.3800
370     0.5045
Name: 土地面積, Length: 370, dtype: float64