In [20]:
import pandas_datareader.data as pdr
import yfinance as yf
yf.pdr_override()
all_datd = {item:pdr.get_data_yahoo(item) for item in ["2330.TW","2303.TW","2454.TW","2317.TW"]}

import pandas as pd
all_data_1 = pd.DataFrame({key:df["Adj Close"] for key,df in all_datd.items()})

all_data_1.columns = ["台積電","聯電","聯發科","鴻海"]
all_data_1

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

              台積電         聯電     聯發科          鴻海
Date
1993-01-05    NaN        NaN     NaN    0.409766
1993-01-06    NaN        NaN     NaN    0.402878
1993-01-07    NaN        NaN     NaN    0.401157
1993-01-08    NaN        NaN     NaN    0.389104
1993-01-11    NaN        NaN     NaN    0.391687
...           ...        ...     ...         ...
2024-06-17  921.0  56.700001  1380.0  200.000000
2024-06-18  943.0  56.799999  1405.0  198.500000
2024-06-19  981.0  56.799999  1485.0  203.000000
2024-06-20  981.0  57.500000  1500.0  217.500000
2024-06-21  970.0  57.700001  1490.0  212.000000

[7922 rows x 4 columns]